/********************************
            Fonts
/*******************************/

.open_sansbold {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.open_sansbold_italic {
    font-family: 'open_sansbold_italic', Arial, sans-serif;
}

.open_sansextrabold {
    font-family: 'open_sansextrabold', Arial, sans-serif;
}

.open_sansextrabold_italic {
    font-family: 'open_sansextrabold_italic', Arial, sans-serif;
}

.open_sansitalic {
    font-family: 'open_sansitalic', Arial, sans-serif;
}

.open_sanslight {
    font-family: 'open_sanslight', Arial, sans-serif;
}

.open_sanslight_italic {
    font-family: 'open_sanslight_italic', Arial, sans-serif;
}

.open_sansregular {
    font-family: 'open_sansregular', Arial, sans-serif;
}

.open_sanssemibold {
    font-family: 'open_sanssemibold', Arial, sans-serif;
}

.open_sanssemibold_italic {
    font-family: 'open_sanssemibold_italic', Arial, sans-serif;
}

html {
    font: normal normal normal 14px/18px 'open_sansregular', Arial, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.container a {
    text-decoration: none;
}

.container,
.container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.container ul,
.container li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container p {
    margin: 0;
    padding: 0;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}
/********************************
            Header
/*******************************/

.header {
    margin-top: 5px;
}

.header .logo {
    margin: 0 0 10px 0;
}

.header .lang-date-name-show {
    margin: 25px 0 0 -15px;
}

.lang-date-name-show .lang {
    color: #000;
}

.lang-date-name-show .icons-lang {
    background: url(../img/icons-lang.png) no-repeat 0 0;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
}

.lang-date-name-show .icons-lang.icon-en {
    background-position: 100% 0;
}

.lang-date-name-show p {
    line-height: 16px;
}

.lang-date-name-show .date-show {
    color: #18783c;
    font-size: 27px;
    line-height: 30px;
    margin: 0;
}

.lang-date-name-show .name-show {
    font-size: 12px;
}

.header .nav-bar {
    background-color: #59595c;
    height: 35px;
    padding: 0;
}

.header .nav {
    position: relative;
    z-index: 5;
}

.header .nav a {
    color: #fff;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
}

.header .nav > li {
    float: left;
    position: relative;
}

.header .nav > li > a {
    -moz-transition: background-color 0.7s ease-in-out 0s;
    -webkit-transition: background-color 0.7s ease-in-out 0s;
    -o-transition: background-color 0.7s ease-in-out 0s;
    -ms-transition: background-color 0.7s ease-in-out 0s;
    transition: background-color 0.7s ease-in-out 0s;
    font-family: 'open_sansbold';
    line-height: 35px;
    padding: 0 10px;
}

.header .nav li:hover a,
.header li:active .nav a {
    background-color: #006738;
}

.header .sub-nav {
    background-color: #006738;
    left: 0;
    position: absolute;
    top: 35px;
    font-family: 'open_sansregular';
    visibility: hidden;
    height: 0;
    opacity: 0;
}

.header .nav li:hover .sub-nav,
.header .nav li.active .sub-nav {
    -moz-transition: all 0.7s ease-in-out 0s;
    -webkit-transition: all 0.7s ease-in-out 0s;
    -o-transition: all 0.7s ease-in-out 0s;
    -ms-transition: all 0.7s ease-in-out 0s;
    transition: all 0.7s ease-in-out 0s;
    visibility: visible;
    height: auto;
    opacity: 1;
}

.header .sub-nav li {
    background: url(../img/icon-list-menu.png) no-repeat 5px 15px;
    color: #fff;
    border-bottom: solid 1px #709475;
    display: block;
    padding: 5px 10px 5px 15px;
}

.header .sub-nav li:last {
    border: none;
}

.header .sub-nav a {
    white-space: nowrap;
}

.header .form-search {
    height: 21px;
    margin: 7px 0 0 0;
}

.header .input-search {
    border: none;
    color: #000;
    display: inline-block;
    font-size: 0.8em;
    height: 21px;
    line-height: 21px;
    padding: 5px;
    width: 160px;
}

.header .btn-search {
    background: url(../img/btn-search.png) no-repeat 0 0;
    border: none;
    height: 21px;
    display: inline-block;
    margin-right: 5px;
    width: 21px;
}
/********************************
            Body
/*******************************/

.body {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.body.bg {
    background: url(../img/content-bg.png) no-repeat 0 100%;
}

.body .title-content {
    background-color: #006738;
    color: #fff;
    font-family: 'open_sansbold', Arial, sans-serif;
    font-size: 1.2em;
    margin: 0;
    padding: 10px 0;
    text-indent: 20px;
    text-transform: uppercase;
}

.body .content-wrapper {
    color: #474343;
    padding: 20px;
    text-align: justify;
}

.body .content-wrapper a {
    color: #474343;
}

.body .content-wrapper p.no-gap {
    padding-bottom: 5px;
}

.body .content-wrapper p.big-bottom-gap {
    padding-bottom: 20px;
}

.body .content-wrapper .list-disc li {
    background: url(../img/icon-list-green-menu.png) no-repeat 5px 7px;
    padding: 0 0 0 15px;
}

.body .content-wrapper .list-disc li.no-gap {
    padding-bottom: 5px;
}

.body .content-wrapper .list-disc li.big-bottom-gap {
    padding-bottom: 20px;
}

.body .content-wrapper .list-disc li.no-list-disc {
    background-image: none;
}

.body .content-contact p {
    margin: 0 0 20px 0;
}

.body .content-contact p:last-child {
    margin-bottom: 5px;
}

.body .content-contact li {
    padding: 0 0 0 150px;
    position: relative;
}

.body .content-contact li span {
    left: 0;
    position: absolute;
}

.body .content-about h4 {
    font-size: 1.2em;
    margin: 0 0 10px 0;
}

.body .content-about .about-ubm-logo {
    margin: 0 20px 30px 0;
}

.body .content-about ul {
    padding-left: 85px;
}

.body .content-about li {
    margin-bottom: 20px;
}

.body .content-program h4 {
    margin: 15px 0 5px 0;
    text-transform: capitalize;
}

.body .content-visit h4 {
    margin: 0 0 10px 0;
}

.body .content-visit li {
    margin-bottom: 20px;
}

.body .content-visit li:last-child {
    margin-bottom: 10px;
}

.body .content-visit .no-gap li {
    margin: 0 60px 5px 0;
}

.body .content-visit img {
    display: block;
    position: relative;
    width: 100%;
}

.body .content-visit img.no-indent {
    margin: 0;
}

.body .content-visit p {
    padding: 0 0 10px 0;
}

.body .content-exhibit {
    padding-right: 20px;
}

.body .content-exhibit .cost-col {
    width: 265px;
}

.body .content-exhibit .cost-col ul {
    margin-top: 20px;
}

.body .content-exhibit .desc-col {
    background: url(../img/book-stand-img.jpg) no-repeat 0 0;
    font-size: 0.85em;
    padding: 0 0 0 185px;
    width: 450px;
}

.body .content-exhibit .table {
    border-spacing: 10px;
    border-collapse: separate;
    max-width: 100%;
    width: 100%;
}

.body .content-exhibit tr {
    margin: 0 0 10px 0;
}

.body .content-exhibit td:first-child {
    width: 350px;
}

.body .content-exhibit .instruction-text {
    margin: 30px 0 15px 0;
}

.body .content-exhibit .form-input,
.body .content-exhibit .form-textarea,
.body .content-exhibit .form-select {
    border: 1px solid #989898;
    display: inline-block;
    font-size: 0.9em;
    height: 26px;
    padding: 5px;
    position: relative;
    width: 100%;
}

.body .content-exhibit .form-textarea {
    height: 40px;
}

.body .content-exhibit .form-input-small {
    width: 70px;
}

.body .content-exhibit .form-btn {
    background-color: #006738;
    border: none;
    color: #fff;
    padding: 5px 20px;
}

.body .content-exhibit sup {
    color: red;
    font-size: 1em;
}
/********************************
            SLIDE SHOW
/*******************************/

.body .slide-show {
    border: solid 1px #cfcfcf;
    height: 360px;
    margin: 10px 0 20px 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.body .slide-show .slide-show-item {
    height: 360px;
    position: relative;
    width: 100%;
}

.body .slide-show .main-slide {
    background: url(../img/banner1.jpg) no-repeat 0 0;
}

.body .slide-show .why-vietnam-slide {
    background: url(../img/banner2.jpg) no-repeat 0 0;
}

.body .slide-show .visitor-slide {
    background: url(../img/banner3.jpg) no-repeat 0 0;
}

.slide-show .slide-show-item .pbs-details-block {}

.slide-show .pbs-details-block .pbs-details {
    -webkit-transform: translate3d(50px, 0, 0);
    -moz-transform: translate3d(50px, 0, 0);
    -ms-transform: translate3d(50px, 0, 0);
    -o-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
    color: #fff;
    opacity: 0;
    position: absolute;
    z-index: 6;
}

.slide-show .pbs-details-block .pbs-details.pbs-show {
    -moz-transition: all 1s ease-in-out 2s;
    -webkit-transition: all 1s ease-in-out 2s;
    -o-transition: all 1s ease-in-out 2s;
    -ms-transition: all 1s ease-in-out 2s;
    transition: all 1s ease-in-out 2s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.slide-show .pbs-slide-green .pbs-details {
    left: 655px;
    top: 95px;
    width: 245px;
}

.slide-show .pbs-slide-blue .pbs-details {
    left: 710px;
    top: 110px;
    width: 290px;
}

.slide-show .pbs-slide-red .pbs-details {
    left: 750px;
    top: 80px;
    width: 200px;
}

.slide-show .pbs-details li {
    list-style: disc inside;
}

.slide-show .pbs-details .readmore {
    background-color: #49b970;
    color: #fff;
    display: inline-block;
    font-size: 1.05em;
    margin-top: 15px;
    padding: 5px 15px;
}

.slide-show .pbs-slide-green h3 {
    font-size: 1.6em;
    margin: 0 0 10px 0;
}

.slide-show .pbs-slide-blue h3 {
    font-size: 1.5em;
    margin: 0 0 10px 0;
}

.slide-show .pbs-slide-blue h4 {
    font-size: 1.4em;
    margin: 0 0 15px 0;
}

.slide-show .pbs-slide-red h3 {
    font-size: 1.9em;
    margin: 0 0 15px 0;
}

.slide-show .pbs-spots {
    background: no-repeat 0 0;
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.slide-show .pbs-green-block1 {
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
    left: 570px;
    top: -30px;
}

.slide-show .pbs-green-block2 {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    left: 563px;
    top: 0px;
}

.slide-show .pbs-green-block3 {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    left: 746px;
}

.slide-show .pbs-green-block4 {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    left: 548px;
}

.slide-show .pbs-green-block5 {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    left: 490px;
    top: -150px;
}

.slide-show .pbs-blue-block1 {
    -webkit-transform: scale(0.5) translate3d(150px, 200px, 0);
    -moz-transform: scale(0.5) translate3d(150px, 200px, 0);
    -ms-transform: scale(0.5) translate3d(150px, 200px, 0);
    -o-transform: scale(0.5) translate3d(150px, 200px, 0);
    transform: scale(0.5) translate3d(150px, 200px, 0);
    left: 650px;
    top: -200px;
}

.slide-show .pbs-blue-block2 {
    -webkit-transform: scale(0.8) translate3d(50px, 0, 0);
    -moz-transform: scale(0.8) translate3d(50px, 0, 0);
    -ms-transform: scale(0.8) translate3d(50px, 0, 0);
    -o-transform: scale(0.8) translate3d(50px, 0, 0);
    transform: scale(0.8) translate3d(50px, 0, 0);
    left: 860px;
    top: -49px;
}

.slide-show .pbs-blue-block3 {
    -webkit-transform: scale(0.7) translate3d(0, 90px, 0);
    -moz-transform: scale(0.7) translate3d(0, 90px, 0);
    -ms-transform: scale(0.7) translate3d(0, 90px, 0);
    -o-transform: scale(0.7) translate3d(0, 90px, 0);
    transform: scale(0.7) translate3d(0, 90px, 0);
    left: 720px;
    top: 110px;
}

.slide-show .pbs-blue-block4 {
    -webkit-transform: scale(0.7) translate3d(120px, 140px, 0);
    -moz-transform: scale(0.7) translate3d(120px, 140px, 0);
    -ms-transform: scale(0.7) translate3d(120px, 140px, 0);
    -o-transform: scale(0.7) translate3d(120px, 140px, 0);
    transform: scale(0.7) translate3d(120px, 140px, 0);
    left: 530px;
    top: -110px;
}

.slide-show .pbs-blue-block5 {
    -webkit-transform: scale(0.8) translate3d(90px, 120px, 0);
    -moz-transform: scale(0.8) translate3d(90px, 120px, 0);
    -ms-transform: scale(0.8) translate3d(90px, 120px, 0);
    -o-transform: scale(0.8) translate3d(90px, 120px, 0);
    transform: scale(0.8) translate3d(90px, 120px, 0);
    left: 450px;
    top: -150px;
}

.slide-show .pbs-red-block1 {
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -o-transform: scale(0.4);
    transform: scale(0.4);
    left: 720px;
    top: -130px;
}

.slide-show .pbs-red-block2 {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    left: 860px;
    top: -100px;
}

.slide-show .pbs-red-block3 {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    left: 590px;
    top: 50px;
}

.slide-show .pbs-red-block4 {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    left: 580px;
    top: -170px;
}

.slide-show .pbs-red-block5 {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    left: 500px;
    top: -70px;
}

.slide-show .pbs-pattern.pbs-dd .pbs-spots {
    -moz-transition: all 1s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s;
    opacity: 1;
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    -moz-transform: scale(1) translate3d(0, 0, 0);
    -ms-transform: scale(1) translate3d(0, 0, 0);
    -o-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0);
}

.slide-show .pbs-pattern.pbs-dd .pbs-spot-block1 {
    -webkit-transform: scale(0.7) translate3d(0, 0, 0);
    -moz-transform: scale(0.7) translate3d(0, 0, 0);
    -ms-transform: scale(0.7) translate3d(0, 0, 0);
    -o-transform: scale(0.7) translate3d(0, 0, 0);
    transform: scale(0.7) translate3d(0, 0, 0);
}

.slide-show .pbs-pattern.pbs-dd .pbs-spot-block2 {
    -moz-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;
    z-index: 2;
}

.slide-show .pbs-pattern.pbs-dd .pbs-spot-block3 {
    -moz-transition-delay: 0.9s;
    -webkit-transition-delay: 0.9s;
    -o-transition-delay: 0.9s;
    -ms-transition-delay: 0.9s;
    transition-delay: 0.9s;
    z-index: 3;
}

.slide-show .pbs-pattern.pbs-dd .pbs-spot-block4 {
    -moz-transition-delay: 1.2s;
    -webkit-transition-delay: 1.2s;
    -o-transition-delay: 1.2s;
    -ms-transition-delay: 1.2s;
    transition-delay: 1.2s;
    z-index: 4;
}

.slide-show .pbs-pattern.pbs-dd .pbs-spot-block5 {
    -moz-transition-delay: 1.5s;
    -webkit-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    -ms-transition-delay: 1.5s;
    transition-delay: 1.5s;
    z-index: 5;
}

.slide-show .pbs-controls {
    bottom: 30px;
    height: 12px;
    position: absolute;
    right: 200px;
    z-index: 10;
}

.slide-show .pbs-controls a {
    background: url(../img/dots.png) no-repeat 0 0;
    display: inline-block;
    height: 12px;
    margin-right: 5px;
    overflow: hidden;
    text-indent: -200px;
    width: 12px;
}

.slide-show .pbs-controls a.pbs-activeSlide {
    background-position: 100% 0;
}
/********************************
          END SLIDE SHOW
/*******************************/

.body .articles {
    /*width: 73%;*/
}

.body.bg .articles {
    margin-top: 20px;
}

.articles .news {
    color: #fff;
}

.news .nav-tab a {
    background-color: #49b970;
    font-family: 'open_sansbold';
    font-size: 1.3em;
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
}

.news .article-news a {
    color: #fff;
    text-decoration: none;
}

.news .nav-tab li:hover a,
.news .nav-tab li.active a {
    background-color: #006738;
}

.news .nav-tab a:target {
    display: block;
}

.news .article-news {
    background-color: #006738;
    display: none;
    padding: 10px 15px 60px 15px;
    position: relative;
}

.news .article-news.active {
    display: block;
}

.news .article-news h3 {
    font-size: 1.25em;
    margin: 10px 0;
}

.news .article-news .btn-viewall {
    background-color: #49b970;
    bottom: 15px;
    color: #fff;
    font-size: 1.1em;
    display: block;
    left: 15px;
    position: absolute;
    padding: 5px 15px;
}

.articles .why-should-exhibit {
    color: #006738;
    padding: 10px 15px 70px 15px;
    position: relative;
    text-align: justify;
}

.why-should-exhibit h2 {
    background: url(../img/why-you-should-title.png) no-repeat 0 0;
    display: block;
    height: 92px;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-indent: -999999px;
    width: 269px;
}

.why-should-exhibit h3 {
    font-size: 1.25em;
    margin: 5px 0;
}

.why-should-exhibit .btn-book {
    background-color: #49b970;
    color: #fff;
    font-size: 1.15em;
    bottom: 15px;
    left: 15px;
    padding: 5px 15px;
    position: absolute;
    text-align: justify;
}

.body .general-info {
    background: url(../img/exhibitor-bg.png) no-repeat 0 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    border: solid 1px #006738;
    margin: 15px 0 25px 0;
    padding: 5px 240px 5px 150px;
    position: relative;
}

.body .general-info h3 {
    color: #fff;
    font-size: 1.35em;
    line-height: 18px;
    letter-spacing: 1px;
    margin: 0;
    position: absolute;
    right: 20px;
    top: 15px;
    text-transform: uppercase;
    width: 150px;
}

.body .general-info .general-info-content {
    font-size: 1.0em;
    line-height: 14px;
    text-align: justify;
    margin-bottom: 5px;
}

.body .general-info .general-info-link a {
    background-color: #49b970;
    color: #fff;
    display: inline-block;
    font-size: 1em;
    padding: 5px 15px;
}

.body .col-articles {
    color: #fff;
}

.body .col-articles h3 {
    font-size: 18px;
    margin: 5px 15px;
}

.body .col-articles article > div {
    background-color: #006738;
    display: inline-block;
    float: left;
    overflow: hidden;
    padding-bottom: 35px;
    position: relative;
    min-height: 435px;
}

.body .col-articles .article-desc {
    font-size: 0.9em;
    padding: 15px;
    text-align: justify;
}

.body .col-articles img {
    display: block;
    margin-bottom: 5px;
    position: relative;
    width: 100%;
}

.body .col-articles .article-viewmore {
    background-color: #fff;
    bottom: 15px;
    color: #000;
    font-size: 0.8em;
    display: block;
    left: 15px;
    padding: 5px 25px;
    position: absolute;
}

.body .aside {
    color: #fff;
    margin-top: 30px;
    /*width: 25%;*/
}

.body.bg .aside {
    margin-top: 20px;
}

.aside .aside-link-block {
    -moz-transition: background-color 0.7s ease-in-out 0s, background-position 0.7s ease-in-out 0s;
    -webkit-transition: background-color 0.7s ease-in-out 0s, background-position 0.7s ease-in-out 0s;
    -o-transition: background-color 0.7s ease-in-out 0s, background-position 0.7s ease-in-out 0s;
    -ms-transition: background-color 0.7s ease-in-out 0s, background-position 0.7s ease-in-out 0s;
    transition: background-color 0.7s ease-in-out 0s, background-position 0.7s ease-in-out 0s;
    background: #006738 url(../img/icon-arrows.png) no-repeat 97% 50%;
    font-family: 'open_sansbold';
    font-size: 14px;
    color: #fff;
    display: block;
    height: 50px;
    line-height: 50px;
    margin: 0 0 10px 0;
    padding: 0 55px 0 17px;
    vertical-align: middle;
    text-transform: uppercase;
}

.aside .aside-link-block:hover {
    background: #59595c url(../img/icon-arrows.png) no-repeat 87% 50%;
}

.aside .aside-link-block.no-effect {
    background: #49b970 url(../img/icon-arrows-no-effect.png) no-repeat 97% 50%;
    height: 65px;
    line-height: 65px;
}

.aside .schedule-show {
    background: #59595c url(../img/save-the-day.png) no-repeat 95% 0;
    color: #fff;
    padding: 5px 95px 10px 20px;
}

.aside .schedule-show h3 {
    margin: 5px 0;
}

.aside .schedule-show p {
    font-size: 0.8em;
    margin: 0;
}

.aside .related-show {
    border: 1px solid #006738;
    margin-top: 15px;
}

.aside .related-show h3,
.aside .media-partners h3 {
    background-color: #006738;
    font-size: 1.25em;
    font-weight: normal;
    margin: 0 0 15px 0;
    padding: 15px 20px;
    text-transform: uppercase;
}

.aside .related-show img {
    display: block;
    margin: 20px auto;
    position: relative;
    max-width: 100%;
}

.aside .media-partners {
    border: 1px solid #006738;
    margin-top: 15px;
    height: 100%;
    min-height: 198px;
}

.aside .media-partners img {
    display: block;
    margin: 5px auto;
    position: relative;
}
/********************************
            Footer
/*******************************/

.footer {
    background-color: #006738;
    color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
}

.footer a {
    color: #fff;
}

.footer p {
    margin: 5px 0 0 0;
    padding: 0;
}

.footer h3 {
    font-size: 1.6em;
    margin: 0 0 15px 0;
    padding-top: 10px;
}

.footer .quick-link {
    border-right: 2px solid #fff;
}

.footer .quick-link h3 {
    font-weight: normal;
}

.footer .quick-link .quick-link-face {
    font-size: 0.8em;
}

.footer .office-info h3 {
    font-size: 1.6em;
}

.footer .office-info .equal-title {
    padding-left: 50px;
    position: relative;
}

.footer .office-info .equal-title span {
    left: 0;
    position: absolute;
}

.footer .copy-right {
    font-size: 0.8rem;
}

.icon-face {
    background: url(../img/icons-face.png) no-repeat 0 0;
    display: inline-block;
    height: 19px;
    vertical-align: middle;
    width: 20px;
}
/* MENU BAR FOR SMALLER SCREEN */

.mobile-nav-bar {
    background-color: #59595c;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    padding: 0;
}

.mobile-nav-bar .btn-mobile-menu {
    background: url(../img/menu-mobile-btn.jpg) no-repeat 0 0;
    border: 0;
    height: 50px;
    position: relative;
    outline: none;
    width: 50px;
    z-index: 100;
}

.mobile-nav-bar .mobile-nav {
    display: none;
    text-align: left;
    list-style: none;
    margin: 0px;
    padding: 50px 0 0 0;
    position: absolute;
    width: 100%;
    z-index: 99;
}

.mobile-nav-bar .mobile-nav.active {
    display: block;
}

.mobile-nav-bar .mobile-nav li {
    position: relative;
    zoom: 1;
    width: 100%;
}

.mobile-nav li a {
    display: block;
    color: #FFF;
    height: 50px;
    padding: 0 15px 0;
    background-color: #5b5a5f;
    border-bottom: 1px solid #818181;
    font-weight: normal;
    text-decoration: none;
    -webkit-transition: background-color 1s ease-in-out;
    -moz-transition: background-color 1s ease-in-out;
    -o-transition: background-color 1s ease-in-out;
    transition: background-color 1s ease-in-out;
}

.mobile-nav li a:hover {
    background-color: #006738;
}

.mobile-nav .mobile-nav-submenu {
    display: none;
    height: auto;
    width: 100%;
}

.mobile-nav .mobile-nav-submenu.active {
    display: block;
}

.mobile-nav .mobile-nav-submenu a {
    background: #006738;
    border-bottom: 1px solid #02713e;
    display: block;
}

.mobile-nav .nav-click {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #818181;
    height: 49px;
    width: 50px;
    cursor: pointer;
}

.mobile-nav .nav-click i {
    display: block;
    height: 48px;
    width: 48px;
    background: url(../img/drop_menu.png) no-repeat;
}
/* RESPONSIVE */

@media (min-width: 320px) and (max-width: 981px){
    .header .form-search {
        display: none;
    }

    .body .col-articles article > div {
        margin-bottom: 15px;
    }
    .body .col-articles article:last-child > div {
        margin-bottom: 0;
    }
    .body .general-info {
        background: none;
        padding: 15px;
    }
    .body .general-info h3 {
        color: #006738;
        position: relative;
        text-align: left;
        left: auto;
        right: auto;
        top: auto;
        width: auto;
    }

    .xs-no-gutter {
        padding: 0;
    }

    .body .general-info .general-info-link a {
        display: block;
        margin-bottom: 5px;
    }
}
